* {
    margin: 0px;
    padding: 0px;
}
body{
    margin-bottom: 20px;
}
.first {
    width: 80%;
    height: min-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 20px;
}

.leftContent {
    margin: 20px;
    width: 30%;
}

.leftContent a img {
    width: 70%;
    margin: auto;


}

.rightContent {
    width: 50%;
    margin: auto;
}

.rightContent h1 {
    text-align: center;
    margin: 10px;
    font-size: 3rem;
    font-weight: bolder;
}

.rightContent p {
    font-size: 1.5rem;
}

@media (max-width:905px) {
    body {
        margin-bottom: 40px;
    }

    .first {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;
        border-top: 10px solid black;
        border-bottom: 10px solid black;
        border-radius: 20px;

    }

    .leftContent {
        width: 70%;
        margin: auto;
    }
    .leftContent a{
        display: flex;
        justify-content: center;
        align-items: center;   
        
    }
    
    

    .rightContent {
        width: 95%;
        margin: auto;

    }
}